extends ../layout

block content
  include ../includes/navigation  

  body
    h1 Book: #{head_title}
    form(action="")
      p
        label(for="title") Title
        input(id="title" type="text" value=`${head_title}`)
      p
        label(for="author") Author
        input(id="author" type="text" value=`${books.author}`) 
      p
        label(for="genre") Genre
        input(id="genre" type="text" value=`${books.genre}`) 
      p
        label(for="first_published") First Published
        input(id="first_published" type="text" value=`${books.first_published}`) 
      p
        input(type="submit" value="Update")   

    h2 Loan History
    table
      thead
        tr
          th Book
          th Patron
          th Loaned on
          th Return by
          th Returned on
          th Action
      tbody
        tr
          td
            a(href="/book_detail/" + books.id) #{head_title}
          td
            a(href="patron_detail")= books.Patron.first_name + " " + books.Patron.last_name
          td= books.Loan.loaned_on
          td= books.Loan.return_by
          td= books.Loan.returned_on
          td 
            a(href="/return_book/" + books.id class="button") Return Book